* {
    margin: 0;
    padding: 0;
}
.test {
    border: 1px solid red;
}
body {
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
}
h1 {
    text-transform: uppercase;
    background-color: rgb(32, 39, 49);
    font-size: 1.3em;
    color: white;
    padding: 30px 0 30px 0;
    text-align: center;
}
header {
    text-align: center;
}
.banner h2 {
    font-size: 19px;
    padding: 10px;
    font-weight: 900;
}
.banner {
    margin: 20px 20px 5px 20px;
    padding: 10px 10px 30px 10px;
    margin-top: 20px;
    border-bottom: solid 4px rgb(32, 39, 49);
}
form {
    display: flex;
    flex-direction: column;
}
fieldset {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    border: none;
}
fieldset legend {
    padding: 20px 0 20px 0;
    font-weight: 700;
    font-size: 150%;
}
form p {
    font-size: 1.1em;
    padding: 10px 0 10px 0;
    line-height: 30px;
}
.top-form {
    padding: 20px 0 20px 0;
    font-size: larger;
    text-align: left;
}
.top-field .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.top-field input,
.top-field select {
    flex: 1;
    padding: 15px 0 15px 0;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    border: hidden;
    outline: none;
    font-size: 1.2em;
    transition: border .3s;
}
input::placeholder {
    padding-left: 65%;
    font-size: smaller;
    font-style: italic;
}
.top-hr {
    margin: 0 20px 0 20px;
    height: 2px;
    border: none;
    background: black; 
}
.bottom-hr {
    margin: 20px;
    height: 2px;
    border: none;
    background: black; 
}

div label {
    padding-left: 15px;
}
form input:focus,
form select:focus,
textarea:focus {
    border: solid 3px rgba(6, 40, 92, .7);
}

#zip {
    width: 50%;
}
textarea {
    width: 100%;
    height: 100px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    border: hidden;
    outline: none;
    font-size: 1.5em;
    margin-bottom: 20px;
    transition: border .3s;
}
button {
    width: 100%;
    height: 60px;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(58, 184, 146);
    color: white;
    font-size: larger;
    margin-bottom: 20px;
    transition: background-color .3s;
}
button:hover{
    background-color: rgb(56, 129, 107);
}
button:active {
    background-color: rgb(127, 218, 190);
}
footer {
    font-style: italic;
    opacity: .6;
    text-align: center;
    padding: 20px 0 30px 0;
}
@media (min-width:768px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
    input::placeholder {
        padding-left: 80%;
        font-size: smaller;
        font-style: italic;
    }
    .top-field .box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    .top-form {
        flex: 1;
    }
    
    .top-field input, 
    .top-field select {
        flex-grow: 3;
        margin: 1%;
        padding: 20px;
    }
   
    .top-field #zip {
        margin-right: 47%;
        width: 20%;
        flex: 1;
      }
   


}

